@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 94px 0px;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}
@media screen and (max-width: 549px) {
  .overlay {
    padding: 94px 15px;
  }
}

.overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: #2196f3;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus, .button:active {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.7;
}

.footer__button--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__button--position {
    margin-left: 12px;
  }
}

.footer--button--position {
  padding-right: 30px;
  position: relative;
}

.footer__button--icon {
  position: absolute;
  max-width: 24px;
  height: 24px;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Кнопки портфолио */
.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .button__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.button__list__item {
  font-family: inherit;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__list__item:hover, .button__list__item:focus, .button__list__item:active {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal--button {
  display: block;
  margin: auto;
}
.modal--button:hover {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button__close {
  width: 30px;
  height: 30px;
  margin: 8px 8px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 550px) {
  .button__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
.button__close:hover, .button__close:focus {
  fill: #2196f3;
}

.close-icon {
  margin: 4px;
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo .black--text:hover, .logo .black--text:focus, .logo .black--text:active {
  color: #2196f3;
}

.black--text {
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo .white--text:hover, .footer__logo .white--text:focus, .footer__logo .white--text:active {
  color: #2196f3;
}

.white--text {
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 24px 0px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
  }
  .header__contact li:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__contact li:first-child {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__item {
  position: relative;
  margin: 4px 25px;
}
.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #2196f3;
}
.nav__link.current {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--color-grey {
  color: #757575;
}

.header-line .nav__link.current::after {
  position: absolute;
  content: "";
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (max-width: 1199px) {
  .header-line .nav__link.current::after {
    top: 54px;
  }
}

/*  Конверт и телефон */
.icon--smartphone,
.icon--envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icon--envelope {
  max-width: 16px;
  height: 12px;
}

.icon--smartphone {
  max-width: 10px;
  height: 16px;
}

.main__section {
  max-width: 1600px;
  padding: 96px 0px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/Header img1200@1x.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/Header img1200@1x.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 340px) {
  .main__section {
    padding: 118px 0px;
  }
}
@media screen and (max-width: 479px) {
  .main__section {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header img480@1x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img480@1x.jpg");
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .main__section {
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header img480@2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img480@2x.jpg");
  }
}
.main__section__title {
  color: #ffffff;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;
}
@media screen and (min-width: 768px) {
  .main__section__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.information {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .information__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .information__item {
    width: 270px;
    margin: 0px;
  }
}

.information__item::before {
  display: block;
  content: " ";
  margin: 15px;
  background-color: #f5f4fa;
  height: 120px;
  margin: 0;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.information__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.information__description {
  margin: 0px;
}

.icon-antenna::before {
  background-image: url(../images/icon/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}

.section--padding-top {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .section--padding-top {
    display: none;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-left: 0px;
  gap: 30px;
}
.card__item {
  position: relative;
}
.card__title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  opacity: 0.3;
}
.card__item p {
  position: absolute;
  content: "";
  margin: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 26px;
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team--background-color {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.team__item {
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__description {
  padding: 30px 0px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin: 0px;
  margin-bottom: 10px;
}
.team__title {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin: 0px;
  padding-bottom: 16px;
}

.team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team__icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: currentColor;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon__link:hover, .team__icon__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.team__icon svg {
  max-width: 20px;
  height: 20px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__link svg {
  width: 106px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.button__item__port:nth-child(3) {
  margin-right: 15px;
}
@media screen and (max-width: 370px) {
  .button__item__port:nth-child(3) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .button__item__port:nth-child(3) {
    margin-right: 0px;
  }
}

.button__item__port:nth-child(5) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .project__item {
    margin-bottom: 30px;
  }
  .project__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
    -ms-flex-preferred-size: calc(100% - 60px)/2;
        flex-basis: calc(100% - 60px)/2;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
  }
}
.project__link {
  display: block;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.project__link:hover, .project__link:focus, .project__link:active {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .thumb-text, .project__link:hover .cards-thumb::before, .project__link:focus .thumb-text, .project__link:focus .cards-thumb::before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.project__description {
  margin: 0px;
  padding: 20px 24px;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0px;
  padding-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}
.cards-thumb::before {
  background: rgba(33, 150, 243, 0.9);
}

.cards-thumb::before,
.thumb-text {
  position: absolute;
  content: "";
  top: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-text {
  padding-top: 62px;
  padding-left: 24px;
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 20px 0px 9px;
  color: #ffffff;
}
.footer__list {
  padding-left: 0px;
  margin: 0px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__list li:not(:last-child) {
  margin-bottom: 6px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin: 0px 0px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/* Подписаться */
.footer-subscribe {
  margin: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__label {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__label {
    margin: 0px;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  padding: 0px 16px;
  margin-bottom: 30px;
  color: #ffffff;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  letter-spacing: 0.03em;
  /* outline: 1px solid red; */
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 354px;
  }
}
.footer__input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Иконки футера */
@media screen and (min-width: 768px) {
  .footer--icon {
    margin-top: 0px;
    margin-left: 76px;
  }
}

.footer--title--color {
  color: #ffffff;
  margin: 60px 0px 20px;
}
@media screen and (min-width: 768px) {
  .footer--title--color {
    margin: 0px 0px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--title--color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0px 20px;
  }
}

.footer--icon--background {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.modal--title--position {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.modal {
  background: #ffffff;
  min-height: 580px;
  border-radius: 4px;
  max-width: calc(100vw - 30px);
  width: 100%;
  padding-bottom: 40px;
}
@media screen and (min-width: 550px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
  }
}
.modal-form {
  margin: 0rem 2.5rem;
}
@media screen and (min-width: 550px) {
  .modal-form {
    margin: 2.5rem 2.5rem 0;
  }
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  /* outline: 1px solid red; */
}
.modal__wrap {
  position: relative;
  margin-bottom: 10px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal__input {
  width: 100%;
  height: 48px;
  padding: 12px 16px 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__coment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__coment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__coment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__coment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__coment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__coment:hover, .modal__coment:focus {
  border: 1px solid #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 30px;
  /* outline: 1px solid red; */
  position: relative;
}
.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 550px) {
  .checkbox__label {
    margin-left: 30px;
  }
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__input:checked ~ .fakeframe {
  opacity: 0;
}
.checkbox__input:checked ~ .fakeicon {
  opacity: 1;
}
.checkbox__input:checked ~ .fakeframe {
  opacity: 0;
}
.checkbox__input:focus-visible ~ .fakeframe {
  border: 2px solid #2196f3;
}
.checkbox__link {
  text-decoration: underline;
  margin-left: 0.5rem;
  /* outline: var(--blue-color); */
  color: #2196f3;
}

.fakeframe,
.fakeicon {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fakeframe {
  border: 2px solid #212121;
  border-radius: 2px;
  opacity: 1;
}

.fakeicon {
  opacity: 0;
}

.header__burger {
  background: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header__burger .icon-header-close {
  display: none;
}

.header__burger.is-open .icon-header-close {
  display: block;
}

.header__burger.is-open .icon-header-menu {
  display: none;
}

.menu__container {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: 0%;
  width: 100%;
}
.menu__container.is-open {
  display: block;
}
@media screen and (min-width: 767px) {
  .menu__container.is-open {
    display: none;
  }
}

@media screen and (min-width: 399px) {
  .mobile__nav {
    padding-left: 40px;
  }
}

.mobile-container-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile__item {
  margin-bottom: 36px;
}

.down {
  margin-bottom: 302px;
}

.mobile--contact {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile--contact:hover, .mobile--contact:focus, .mobile--contact:active {
  color: #2196f3;
}

.contact {
  margin: 32px 0px 64px;
}

.tel {
  font-size: 34px;
}
.tel:hover, .tel:focus, .tel:active {
  color: #2196f3;
}

.mail {
  font-size: 24px;
}
.mail:hover, .mail:focus, .mail:active {
  color: #2196f3;
}

.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 5px;
}

@media screen and (max-width: 449px) {
  .mobile__social__link:nth-child(-n+2) {
    padding-bottom: 20px;
  }
}

.mobile__social__link.line::after {
  display: block;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin: 0px 10px;
}/*# sourceMappingURL=main.css.map */