body {
  background-color: getColor("white-color");
  color: getColor("basic-text-color");
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 94px 0px;
  @media screen and (max-width: 1200px) {
    padding: 60px 0px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor("black-color");
  margin-bottom: 50px;
  margin-top: 0px;
}
