// Хедер
.logo {
  color: getColor("blue-color");
  font-family: "Raleway";
  font-size: 26px;
  //   margin-right: 92px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .black--text:hover,
  & .black--text:focus,
  & .black--text:active {
    color: getColor("blue-color");
  }
}

.black--text {
  color: getColor("black-color");
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Футер
.footer__logo {
  // margin-right: 88px;

  & .white--text:hover,
  & .white--text:focus,
  & .white--text:active {
    color: getColor("blue-color");
  }
}

.white--text {
  color: getColor("white-color");
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
