$main--section--gradient: linear-gradient(
  to bottom,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

.main__section {
  max-width: 100%;
  max-height: 100%;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: getColor("section-order-service");
  background-image: $main--section--gradient, url("../images/Basic poster.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;

  // @media (min-device-pixel-ratio: 2) {
  //   background-image: $main--section--gradient,
  //     url("../images/Basic poster.jpg");
  // }

  &__title {
    color: getColor("white-color");
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto 30px;
  }
}
