.header {
  position: relative;
  width: 100%;
  background-color: getColor("white-color");
  padding: 24px 0px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media screen and (min-width: 1200px) {
    // }
  }
  &__contact {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;

      & li:first-child {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 1200px) {
        display: flex;

        & li:first-child {
          margin-right: 50px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.header__nav {
  display: flex;
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__item {
    position: relative;
    margin: 4px 25px;
  }

  &__link {
    color: getColor("black-color");
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: getColor("blue-color");
    }

    &.current {
      color: getColor("blue-color");
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--color-grey {
      color: getColor("basic-text-color");
    }
  }
}

.header-line .nav__link.current::after {
  position: absolute;
  content: "";
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: getColor("blue-color");
  border-radius: 2px;

  @media screen and (max-width: 1199px) {
    top: 54px;
  }
}

/*  Конверт и телефон */
.icon--smartphone,
.icon--envelope {
  margin-right: 10px;
  fill: currentColor;
}
.icon--envelope {
  max-width: 16px;
  height: 12px;
}
.icon--smartphone {
  max-width: 10px;
  height: 16px;
}
