$main--section--gradient: linear-gradient(
  to bottom,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

.main__section {
  @media screen and (max-width: 340px) {
    padding: 96px 0px;
  }

  max-width: 500px;
  padding: 118px 0px;
  text-align: center;
  background-color: getColor("section-order-service");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: $main--section--gradient,
    url("../images/main-pic/img-1-480.jpg");

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $main--section--gradient,
      url("../images/main-pic/img-1-480@2x.jpg");
  }

  @media screen and (min-width: 480px) and (max-width: 949px) {
    max-width: 950px;
    background-image: $main--section--gradient,
      url("../images/main-pic/img-2-768.jpg ");

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $main--section--gradient,
        url("../images/main-pic/img-2-768@2x.jpg ");
    }
  }

  @media screen and (min-width: 950px) {
    padding: 200px 0px;
    max-width: 1200px;
    background-image: $main--section--gradient,
      url("../images/main-pic/img-2-768.jpg ");

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $main--section--gradient,
        url("../images/main-pic/img-2-768@2x.jpg ");
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    max-width: 1600px;
    background-image: $main--section--gradient,
      url("../images/main-pic/img-3-1200.jpg ");

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $main--section--gradient,
        url("../images/main-pic/img-3-1200@2x.jpg ");
    }
  }

  &__title {
    color: getColor("white-color");
    max-width: 360px;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto 30px;

    @media screen and (min-width: 768px) {
      max-width: 696px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
