.team--background-color {
  background: getColor("icon-background");
}

.team {
  // display: flex;
  // justify-content: space-between;
  // padding-left: 0px;
  // margin: 0px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }

  &__item {
    background-color: getColor("white-color");
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
      margin: 15px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__description {
    padding: 30px 0px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: getColor("black-color");
    margin: 0px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 1.18;
    color: getColor("basic-text-color");
    margin: 0px;
    padding-bottom: 16px;
  }
}
